@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
   font-family: Arial, Helvetica, sans-serif;
   overflow-x: hidden !important;
  /* border-color: #00000080; */
 }
 /* @font-face {
  font-family: 'Old English';
  src: url('./fonts/OldEnglishTextMT.ttf');
  
  font-style: normal;
  font-weight: 400;
} */
  .sdfsdf{
    color: #00000080;
    background-color: #00000080;
  }
 .container-sk {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
 }
 @media (min-width: 768px) {
   .container-sk {
     width: 720px;
   }
 }
 @media (min-width: 992px) {
   .container-sk {
     width: 960px;
   }
   
 }
 @media (min-width: 1200px) {
   .container-sk {
     width: 1140px;
   }
 }


 @media (min-width: 1400px) {
   .container-sk {
     width: 1320px;
   }
 }
 

 /* custome arrow  */

  